<div>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Hero Book</a>
        </div>
      </nav>
      <app-search-form [udpateHeroList]="updateDisplayedHeroes" [heroService]="heroService"></app-search-form>
      
      <table id="hero-list">
        <thead>
          <tr>
              <th>Name</th>
              <th>Publisher</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hero of displayedHeroes">
            <td class="hero-name"><a routerLink="/heroInfo/{{hero.id}}" href="#">{{hero.name}}</a></td>
            <td class="hero-publisher">{{hero.publisher}}</td>
          </tr>
        </tbody>
      </table>
</div>
